<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>New Book</h1>
    <form method="post" action="#" th:action="@{/add}" th:object="${book}">
        
        <div>
        <label for="author">Author:</label>
        <input type="text" th:field="${book.author}" class="form-control" />
        </div>

        <div>
            <label for="title">Title</label>
            <input type="text" th:field="${book.title}" class="form-control" />
        </div>
        <div>
            <label for="isbn">Isbn</label>
            <input type="text" th:field="${book.isbn}" class="form-control" />
        </div>
        <div>
            <label for ="publicationYear">Year</label>
            <input type="text" th:field="${book.publicationYear}" class="form-control" />
        </div>
        <div>
            <label for= "price">Price</label>
            <input type="text" th:field="${book.price}" class="form-control" />
        </div>

        <div>
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option th:each="category : ${categories}" th:value="${category.getCategoryid()}" th:text="${category.getName()}"></option>
            </select>
            
        </div>
        <div class ="row">
            <div class = "col text-right">
        <button class="btn btn-success" value="submit">Add Book</button>
        </div>

        <div class = "col-auto">
            <a href="/booklist" class="btn btn-primary">Back to Book List</a>

        </div>
    </form>
  
</body>
</html>
