<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kirjakauppa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Books</h1>

    <table>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Price</th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.author}">author</td>
            <td th:text="${book.title}">title</td>
            <td th:text="${book.isbn}">isbn</td>
            <td th:text="${book.publicationYear}">year</td>
            <td th:text="${book.price}">price</td>

            <td>
                <form action="/delete/{id}" method="post" th:action="@{/delete/{id}(id=${book.id})}">
                
                <button type="submit">Delete</button>
            </form>            
            </td>
        </tr>
    </table>
    <p><a th:href="@{/addbook}">New Book</a></p>

        
   

</body>
</html>
