<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <title>Category List</title>
</head>
<body>

<h2>Category List</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryid}"></td>
        <td th:text="${category.name}"></td>
    </tr>
    </tbody>
</table>

<button class="btn btn-success" onclick="location.href='/addcategory'">Add Category</button>

</body>
</html>
